@import '../../assets/styles/styles.css';

.layout {
	display: flex;
  width: 70%;
  max-width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #DAD7CD;
}

.intro {
  color: black;
  font-family: 'Ubuntu';
  font-weight: lighter;
  font-size: 21px;
  margin-left: 10px;
}

.pageButton {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

button {
  background-color: #519E8A;
  height: 30px;
  width: 50px;
  color: white;
  border-radius: 15px;
}