.card-layout {
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
  top: 0;
  overflow: hidden;
}

.card-modal {
  height: 70%;
  width: 70%;
  background: white;
  text-align: center;
  margin: 0 auto;
  transform: translateY(25%);
}

.card-close {
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  padding: 10px;
}