.thumb {
	/*border: 2px solid #476A6F;*/
  background-color: #519E8A;
	border-radius: 15px;
	margin: 10px;
  width: 250px;
  height: 300px;
  position: relative;
  text-align: center;
}
.thumb:hover {
  background-color: #7EB09B;
  transition: 0.2s ease-in;
}
.thumb-name {
  position: absolute;
  color: white;
  width: 100%;
  top: 50%;
  margin-top: -9%;
  line-height: 0px;
  transition: all 0.2s ease;
  font-size: 1.5vw;
}
.thumb-name:hover {
  transform: translateY(0, -50%);
  /*opacity: 0;*/
}

.thumb-gdp {
  max-width: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -9%;
  line-height: 0px;
  transition: 0.2s ease-in;
}
